{% extends 'base.html' %}
{% block main %}
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="font-italic">Seja bem-vindo(a)!</h1>
            <p class="lead my-3">Aqui você encontrará resumos e mapas mentais de assuntos relacionados à matéria de Língua Portuguesa do 3.º ano do Ensino Médio.</p>
        </div>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row mb-2">
                    {% for principal in principais %}
                    <div class="col-md-6">
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-2 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-success">Favorito</strong>
                                <h3 class="mb-0">{{ principal.titulo }}</h3>
                                <div class="mb-1 text-muted">{{ principal.data_postagem }}</div>
                                    <p class="card-text mb-auto">{{ principal.legenda }}</p>
                                    <a href="{% url 'detalhar-post' principal.id %}" class="stretched-link">Continuar lendo...</a>
                                </div>
                            <div class="col-auto d-none d-lg-block">
                                <img alt="{{ principal.titulo }}" src="{{ principal.mapa_mental.url }}" width="267" height="189">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row mb-2">
                    {% for principal in favs %}
                    <div class="col-md-6">
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-2 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-success">Favorito</strong>
                                <h3 class="mb-0">{{ principal.titulo }}</h3>
                                <div class="mb-1 text-muted">{{ principal.data_postagem }}</div>
                                    <p class="card-text mb-auto">{{ principal.legenda }}</p>
                                    <a href="{% url 'detalhar-post' principal.id %}" class="stretched-link">Continuar lendo...</a>
                                </div>
                            <div class="col-auto d-none d-lg-block">
                                <img alt="{{ principal.titulo }}" src="{{ principal.mapa_mental.url }}" width="267" height="189">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 blog-main">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
            Publicações Recentes
        </h3>
        {% for post in posts %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ post.titulo }}</h2>
            <p class="blog-post-meta">{{ post.data_postagem }} por <a href="{% url 'criadores' %}">Anna, Raphaela e Victor</a></p>
            <hr>
            <img class="img-fluid" alt="mapa mental sobre {{ post.titulo }}" src="{{ post.mapa_mental.url }}">
            <p style="margin-top: 1rem">{{ post.legenda }}</p>
            <a href="{% url 'detalhar-post' post.id %}">
                <h6>Ler mais...</h6>
            </a>
            <hr>
        </div><!-- /.blog-post -->
        {% endfor %}
        {% if posts.has_other_pages %}
        <div class="text-center">
        <ul class="pagination">
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Anterior</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="">Anterior</a></li>
            {% endif %}
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Próximo</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="">Próximo</a></li>
            {% endif %}
        </ul>
        </div>
    {% endif %}
    </div>
{% endblock %}